@import 'tailwindcss';

@font-face {
  font-family: 'SchoolSafetyChalk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'SchoolSafetyChalk', sans-serif;
}

* {
  font-family: 'SchoolSafetyChalk', sans-serif;
}
